{% extends 'model-page.html' %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-center">Agendamentos</h2>
        <br>
        <div class="row">
            <div class="col">
                {% include 'calendar.html' %}
            </div>
            <div class="col">
                <table id="tbl_eventos" class="table table-hover table-sm">
                <thead>
                 <tr>
                   <!-- <th scope="col">ID</th> -->
                   <th scope="col">Evento</th>
                   <th scope="col">Descrição</th>
                   <th scope="col">Local</th>
                   <th scope="col">Data</th>
                   <th scope="col">Opções</th>
                 </tr>
                </thead>
                 {% for evento in eventos %}
                 <tbody>
                 <tr style="border-bottom: solid {{ evento.cor }}; border-right: solid {{ evento.cor }}; " >
                   <td>{{ evento.titulo }}</td>
                   <td>{{ evento.descricao }}</td>
                   <td>{{ evento.local_evento }} </td>
                   <td>{{ evento.get_data_evento }}</td>
                   <td>
                       <div class="btn-group" role="group" aria-label="Opções">
                           <a id="update" href="{% url 'evento_update' evento.id %}" class="btn btn-primary btn-sm">Editar</a>
                           <a href="{% url 'evento_delete' evento.id %}" class="btn btn-danger btn-sm">Deletar</a>
                       </div>
                   </td>
                 </tr>

                </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
