{% load static %}

<link href="{% static 'fullcalendar/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar/bootstrap/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar/list/main.css' %}" rel='stylesheet' />

<script src='../static/fullcalendar/core/main.js'></script>
<script src='../static/fullcalendar/interaction/main.js'></script>
<script src='../static/fullcalendar/daygrid/main.js'></script>
<script src='../static/fullcalendar/timegrid/main.js'></script>
<script src='../static/fullcalendar/list/main.js'></script>
<script src='../static/fullcalendar/bootstrap/main.js'></script>
<script src='../static/fullcalendar/theme-chooser.js'></script>
<script src='../static/fullcalendar/core/pt-br.js'></script>

<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'pt-br',
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      themeSystem: 'bootstrap',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      defaultDate: Date.auto_now,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      editable: false,
      selectMirror: false,
      select: function(arg)
      {
          window.location.href = "evento/create/?date=" + calendar.formatIso(arg.start);
      },
      eventLimit: true, // allow "more" link when too many events
      events:
      [
      {% for evento in eventos %}
        {
            id: '{{ evento.id }}',
            title: '{{ evento.titulo }}',
            start: '{{ evento.get_data_evento_input }}'
            // color: '#ff9f89',
        },
      {% endfor %}
      ],
      eventClick: function(info)
      {
          window.location.href = "evento/update/" + info.event.id;
          info.el.style.borderColor = 'red';
      }
    });
    calendar.render();
  });

</script>

<style>
  #calendar {
    max-width: 100%;
  }
</style>
 <div id='calendar'></div>
