{% extends 'model-page.html' %}

{% block content %}
<div class="container col-md-6 float-left" style="max-width: 550px;">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="titulo_evento">Título</label>
                    <input autofocus id="titulo_evento" type="text" class="form-control" name="titulo_evento" placeholder="Título" value="{{ evento.titulo }}" required>
                </div>
            </div>
            <div class="col col-lg-4">
                <label for="favcolor">Atribuía uma cor a evento:</label>
                <br>
                <input type="color" id="favcolor" name="cor_evento" {% if evento.cor %} value="{{ evento.cor }}" {% else %} value="#3788d8" {% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label for="descricao_evento">Descrição</label>
            <textarea id="descricao_evento" class="form-control" name="descricao_evento" rows="3">{{ evento.descricao }}</textarea>
        </div>
        <div class="form-group">
            <label for="localEvento_evento">Local do evento</label>
            <input id="localEvento_evento" type="text" class="form-control" name="local_evento" placeholder="Local do evento" value="{{ evento.local_evento }}">
        </div>
        <div class="form-group">
            <label for="data_evento">Data</label>
            <input id="data_evento" type="datetime-local" class="form-control" name="data_evento" required {% if date is None %} value="{{ evento.get_data_evento_input }}" {% else %} value="{{ date }}" {% endif %}" >
        </div>
        <div class="btn-group" role="group" aria-label="Opções">
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            <a href="/" class="btn btn-danger btn-sm">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
