<ul class="nav nav-tabs" >
    <li class="nav-item">
        <a class="nav-link {{ activeHome }} fas fa-home" href="/"> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ activeCadAtualizar }} {{ iconCad_Atualizar }}" href="{% url 'evento_create' %}"> {{ labelCadAtualizar }}</a>
    </li>
    <li class="nav-item dropdown loat-right ml-auto">
        <a class="nav-link dropdown-toggle nav-link fas fa-user" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
            <strong>Olá:</strong> {{ user.get_username }}
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'password_change' %}">Alterar senha</a>
            <!-- <a class="dropdown-item" href="#">Outra ação</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fas fa-sign-out-alt" href="{% url 'logout'%}?next={{request.path}}">Sair</a>
        </div>
      </li>
</ul>
