<ul class="nav nav-tabs" >
    <li class="nav-item">
        <a class="nav-link {{ activeHome }} fas fa-home" href="/"> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ activeCadAtualizar }} {{ iconCad_Atualizar }}" href="{% url 'evento_create' %}"> {{ labelCadAtualizar }}</a>
    </li>
    <li class="nav-item">
        {% if user.is_authenticated %}
            Usuário: {{ user.get_username }}
            <a href="{% url 'logout'%}?next={{request.path}}"> Sair</a>
        {% else %}
             <a href="{% url 'login'%}?next={{request.path}}">Login</a>
        {% endif %}
    </li>
</ul>
