<ul class="nav nav-tabs" >
    <li class="nav-item">
        <a class="nav-link {{ activeHome }} fas fa-home" href="/"> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ activeCadAtualizar }} {{ iconCad_Atualizar }}" href="{% url 'evento_create' %}"> {{ labelCadAtualizar }}</a>
    </li>
    <li class="nav-item float-right ml-auto" style="margin-right: 10px;">
        <a class="nav-link fas fa-user" >
            {% if user.is_authenticated %}
            <strong>Usuário:</strong> {{ user.get_username }}
            {% endif %}
        </a>
        <a class="fas fa-sign-out-alt" href="{% url 'logout'%}?next={{request.path}}">Sair</a>
    </li>
</ul>
